numpy~=1.22.0
tqdm~=4.66.1
transformers~=4.28.1
airsim~=1.8.1
scipy~=1.7.3
networkx~=2.8.4
dashscope~=1.19.2
anthropic~=0.28.0
pandas~=1.5.3
nltk~=3.9.1
pillow~=9.4.0
openai~=1.28.1
pycocoevalcap~=1.2
scikit-learn~=1.3.0
requests~=2.31.0
natsort~=8.4.0
accelerate~=0.18.0
psutil~=5.9.0
torch~=2.1.2